<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='announcementstyle.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
        <title>Test</title>
    </head>

    <body>
        <nav>
            <div class="nav__logo">Blueprint.VIU.CS</div>
            <ul class="nav__links">
                <li class="link"><a href="/HTML/index.html">Home</a></li>
                <li class="link"><a href="/HTML/about.html">About</a></li>
                <li class="link"><a href="/HTML/copy.html">Calculator</a></li>
                <li class="link"><a href="/HTML/announcement.html">Annoucements</a></li>
            </ul>
            <a href="/HTML/register.html">
                <button class="btn" onclick="">Register</button>
            </a>
        </nav>

    <div id="otherbody">
        <main>
            <div class="list">
                <div class="line">
                    <div class="user">
                        <div class="profile">
                            <img src="/Images/csimage.jpg" alt="" >
                        </div>
                        <div class="details">
                            <h1 class="course">CSCI260</h1>   
                        </div>
                    </div>
                    <div class="date">
                        <p>09/15/2026</p>
                    </div>
                    <div class="section">
                        <p>S25 N03 N04</p>
                    </div>
                    <div class="title">
                        Changed test dates.
                    </div>
                    <div class="view">
                        <a href="#" class="btn2">View</a>
                    </div>
                    <div class="action">
                        <div class="icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>

                <div class="line">
                    <div class="user">
                        <div class="profile">
                            <img src="/Images/csimage.jpg" alt="" >
                        </div>
                        <div class="details">
                            <h1 class="course">CSCI265</h1>   
                        </div>
                    </div>
                    <div class="date">
                        <p>09/14/2026</p>
                    </div>
                    <div class="section">
                        <p>S25 N01 N02</p>
                    </div>
                    <div class="title">
                        Changes to rubric.
                    </div>
                    <div class="view">
                        <a href="#" class="btn2">View</a>
                    </div>
                    <div class="action">
                        <div class="icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                
                <div class="line">
                    <div class="user">
                        <div class="profile">
                            <img src="/Images/csimage.jpg" alt="" >
                        </div>
                        <div class="details">
                            <h1 class="course">CSCI370</h1>   
                        </div>
                    </div>
                    <div class="date">
                        <p>09/14/2026</p>
                    </div>
                    <div class="section">
                        <p>S25 N01 N02</p>
                    </div>
                    <div class="title">
                        Changes to machines.
                    </div>
                    <div class="view">
                        <a href="#" class="btn2">View</a>
                    </div>
                    <div class="action">
                        <div class="icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>

                
            </div>

        </main>
    </div>

    </body>
</html>