<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

 <form method="POST" action="{{ url_for('register') }}">
  {{ registerForm.hidden_tag() }}

  <p>
    {{ registerForm.username.label }}<br>
    {{ registerForm.username(size=32) }}
    {% for error in registerForm.username.errors %}
      <span style="color: red;">{{ error }}</span>
    {% endfor %}
  </p>

  <p>
    {{ registerForm.userType.label }}<br>
    {% for subfield in registerForm.userType %}
      <label>
        {{ subfield() }} {{ subfield.label.text }}
      </label><br>
    {% endfor %}
  </p>

  <p>
    {{ registerForm.password.label }}<br>
    {{ registerForm.password(size=32) }}
    {% for error in registerForm.password.errors %}
      <span style="color: red;">{{ error }}</span>
    {% endfor %}
  </p>

  <p>{{ registerForm.submit() }}</p>
</form>

</body>
</html>