{% extends "base.html" %}

{% block title %}Blueprint - Help & Guides{% endblock %}

{% block content %}
<h1>This is the help and guides page.</h1>

<p>This page will have three tabs: student guides, faculty guides, FAQ, and Contact</p>
<p>
    Student Guides will contain guides for:
    <ul>
        <li>Writing and editing reviews</li> 
        <li>Planning a semester and viewing results</li>
    </ul>
    <br>
</p>
<p>
    Faculty Guides will contain guides for:
    <ul>
        <li>Making and editing announcements</li>
        <li>Making and editing courses</li>
        <li>Pinning courses</li>
    </ul>
    <br>
</p>

<p>FAQ will contain answers to commonly asked questions users may have.</p>

<p>Contact will have contact information (us for now, VIU in future if allowed)</p>
{% endblock %}