{% extends "base.html" %}

{% block title %}Blueprint - Home{% endblock %}

{% block content %}
<h1>Welcome to Blueprint!</h1>

<p>This is the home page of Blueprint.</p>

<a href="{{ url_for('register') }}">
  <button>Register Account</button>
</a>

<a href="{{ url_for('login') }}">
  <button>Log In</button>
</a>

<a href="{{ url_for('list_users') }}">
  <button>List Users</button>
</a>

<h2>Courses</h2>

<div class="cards">
  <!-- Each course is a dict. -->
  {% for course in courses %}
    <div class="card">
      <div class="card__header">
        <p>{{ course.name }}</p>
      </div>
      <div class="card__content">
        <div><strong>Course: </strong><span>{{ course.id }}</span></div>
        <div><strong>Hours: </strong><span>{{ course.hours }}</span></div>
        <div><strong>Difficulty: </strong><span>{{ course.difficulty }}</span></div>
        <div><strong>Sections: </strong><span>{{ course.sections }}</span></div>
        <div><strong>Recommended Year: </strong><span>{{ course.year }}</span></div>
        <div><strong>Available Terms: </strong><span>{{ course.term }}</span></div>
      </div>
      <div class="card__info">
        <div><i class="bx bx-comment-check"> Reviews: </i> {{ course.reviewCount }}</div>
        <div>
          <!-- Replacing spaces with hyphens for a nicer and less buggy URL. -->
          <a href="{{ url_for('courses', cid = course.id.replace(' ', '-')) }}" class="card__link">View Course</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<div class="announcement-board">
  <h2>Recent Announcements</h2>
  {% for ann in announcementBoard %}
    <div class="announcement">
      <div class="announcement__content">
        <div><strong>ID: </strong><span>{{ ann.id }}</span></div>
        <div><strong>Text: </strong><p>{{ ann.text }}</p></div>
        <div><strong>Date: </strong><span>{{ ann.date }}</span></div>
        <div><strong>Course: </strong><span>{{ ann.course }}</span></div>
      </div>
      <div class="announcement__reactions">
        <div>
          <!-- These icons don't work for some reason -->
          <i class="bx bx-arrow-big-down"></i> <i class="bx bx-arrow-big-up">Reactions: {{ ann.reactions }}</i> 
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}