<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
    <body>
      <form method="POST">
          {{ loginForm.hidden_tag() }}
          <div>
              {{ loginForm.username.label }}<br>
              {{ loginForm.username(size=32) }}<br>
              {% for error in loginForm.username.errors %}
                  <span style="color: red;">{{ error }}</span>
              {% endfor %}
          </div>

          <div>
              {{ loginForm.password.label }}<br>
              {{ loginForm.password(size=32) }}<br>
              {% for error in loginForm.password.errors %}
                  <span style="color: red;">{{ error }}</span>
              {% endfor %}
          </div>

          {{ loginForm.submit() }}
      </form>
    </body>
</html>