{% extends "base.html" %}
{% block title %}Blueprint - Log In{% endblock %}

{% block content %}
<h1>Login</h1>
<form method="POST">
    {{ loginForm.hidden_tag() }}

    <div>
        {{ loginForm.username.label }}<br>
        {{ loginForm.username(size=32) }}
        {% for error in loginForm.username.errors %}
            <div style="color:red;">{{ error }}</div>
        {% endfor %}
    </div>

    <div>
        {{ loginForm.password.label }}<br>
        {{ loginForm.password(size=32) }}
        {% for error in loginForm.password.errors %}
            <div class="error" style="color:red;">{{ error }}</div>
        {% endfor %}
    </div>

    <div>
        {{ loginForm.userType.label }}<br>
        {% for choice in loginForm.userType %}
            {{ choice() }} {{ choice.label.text }}
        {% endfor %}
        {% for error in loginForm.userType.errors %}
            <div class="error" style="color:red;">{{ error }}</div>
        {% endfor %}
    </div>

    <div>
        {{ loginForm.remember() }} {{ loginForm.remember.label }}
    </div>

    <div>
        {{ loginForm.submit() }}
    </div>
</form>
{% endblock %}