{% extends "base.html" %}
{% block title %}Blueprint - Register Account{% endblock %}

{% block content %}
<h1>Register</h1>
<form method="POST">
    {{ registerForm.hidden_tag() }}

    <div>
        {{ registerForm.username.label }}<br>
        {{ registerForm.username(size=32) }}
        {% for error in registerForm.username.errors %}
            <div class="error" style="color:red;">{{ error | safe }}</div>
        {% endfor %}
    </div>

    <div>
        {{ registerForm.userType.label }}<br>
        {% for choice in registerForm.userType %}
            {{ choice() }} {{ choice.label.text }}
        {% endfor %}
        {% for error in registerForm.userType.errors %}
            <div class="error" style="color:red;">{{ error }}</div>
        {% endfor %}
    </div>

    <div>
        {{ registerForm.password.label }}<br>
        {{ registerForm.password(size=32) }}
        {% for error in registerForm.password.errors %}
            <div class="error" style="color:red;">{{ error }}</div>
        {% endfor %}
    </div>

    <div>
        {{ registerForm.password2.label }}<br>
        {{ registerForm.password2(size=32) }}
        {% for error in registerForm.password2.errors %}
            <div style="color:red;">{{ error }}</div>
        {% endfor %}
    </div>

    <div>
        {{ registerForm.submit() }}
    </div>
</form>
<p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
{% endblock %}