<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <h1>Register</h1>
    <form method="POST">
        {{ form.hidden_tag() }}

        <div>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
                <div class="error" style="color:red;">{{ error }}</div>
            {% endfor %}
        </div>

        <div>
            {{ form.userType.label }}<br>
            {% for choice in form.userType %}
                {{ choice() }} {{ choice.label.text }}<br>
            {% endfor %}
            {% for error in form.userType.errors %}
                <div class="error" style="color:red;">{{ error }}</div>
            {% endfor %}
        </div>

        <div>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
                <div class="error" style="color:red;">{{ error }}</div>
            {% endfor %}
        </div>

        <div>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}
            {% for error in form.password2.errors %}
                <div style="color:red;">{{ error }}</div>
            {% endfor %}
        </div>

        <div>
            {{ form.submit() }}
        </div>
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
  </body>
</html>